extends layout 
 
block content 
  h1= title 
 
  form(id='IcecreamForm', action="/resource/icecream", method="POST") 
    div.form-group 
        label.icecreamAttr(for='IceBrand') Icecream Brand 
        input#IceBrand(type='text', name='IceBrand') 
    div.form-group 
        label.icecreamAttr(for='Iceflavor') Icecream flavor 
        input#Iceflavor(type='text', name='Iceflavor') 
    div.form-group 
        label.icecreamAttr(for='IceCost') Icecream Cost 
        input#Iceflavor(type='number', name='IceCost') 
    input(type="submit") 
 
  script. 
    document.forms['IcecreamForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 